        <article class="about-first">
            <h3>
                Om oss
            </h3>
            <p>
                Vårt prestigefulla gym grundades år 2003 av William Lönner i Onsala. Sedan dess har vi utökat vår verksamhet till bland annat
                Stockholm, Göteborg Och Malmö. Vi strävar konstant efter att erbjuda våra kunder den i särklass bästa gymupplevelsen
                i branchen och är alltid först med ny träning.
            </p>
        </article>

        <article class="about-second">
            <h3>
                Vår grundare
            </h3>
            <p>
                När William Lönner fyllde tre år gammal fick han en vision, en vision som har följt med honom ända sedan dess. Denna vision
                var att erbjuda den bästa träningsupplevelsen på marknaden. År 2012 tog denna vision form i samband med att
                han öppnade sitt första gym i Onsala. Willam brinner för träning och brinner av den anledningen också för
                sitt gym.
                <a href="https://www.instagram.com/wilex_fitness/?hl=sv">Klicka här för att komma till hans Instagram.</a>
            </p>
        </article>
