        <article class="index-first">
            <a href="./price.html">
                <h3>
                    Börja träna hos oss!
                </h3>
                <p>
                    Vi på Lönners gym finns här för dig och strävar efter att du ska nå just dina mål. Klicka för att se vilket av våra medlemskap
                    passar just dig bäst.
                </p>
            </a>
        </article>

        <article class="index-second">
            <a href="./tips.html">
                <h3>
                    Tips från våra erfarna personliga tränare!
                </h3>
                <p>
                    Känner du att du inte når de resultat du strävar efter eller bara har funderingar över bästa möjliga övningar eller träningsschema? Våra personliga
                    tränare hjälper dig mer än gärna!
                </p>
            </a>
        </article>