        <article class="price-first">
            <h3>
                Sverigekortet
            </h3>
            <p>
                Styrketräning, konditionsträning. Träna på alla klubbar. Kundkonto med 200 kr i kredit. (Gäller endast autogiro).
            </p>
        </article>

        <article class="price-second">
            <h3>
                Sverigekortet+
            </h3>
            <p>
                Gruppträning, styrketräning, konditionsträning. Träna på alla klubbar. Kundkonto med 200 kr i kredit. (Gäller endast autogiro).
            </p>
        </article>

        <article class="price-third">
            <h3>
                10-kortet
            </h3>
            <p>
                Gruppträning, styrketräning, konditionsträning. Träna på alla klubbar. Giltighetstid sex månader.
            </p>
        </article>
