        <article class="tips-first">
            <h3>
                Rubrik
            </h3>
            <p>
                Text
            </p>
        </article>

        <article class="tips-second">
            <h3>
                Rubrik
            </h3>
            <p>
                Text
            </p>
        </article>
