<article class="tips-first">
    <h3>
        Lyft korrekt!
    </h3>
    <p>
        För att maximera dina gains är det viktigt att du lyfter rätt och med korrekt teknik. Tänk på att alltid behålla en rak rygg,
        då detta förebygger skador och gör att du inte behöver anstränga dig lika mycket!
    </p>
</article>

<article class="tips-second">
    <h3>
        Torka av efter dig!
    </h3>
    <p>
        Det finns inget värre än att komma till en maskin eller skivstång bara för att upptäcka att den dryper i någon annans svett.
        Därför ber vi dig att alltid torka av maskiner och redskap när du är klar, så att alla på gymmet får en så behaglig
        vistelse som möjligt!
    </p>
</article>